<div class="col-md-12" ng-controller="DebatesCtrl">
    <div id="zone-debates-js" class="zone-debates cont-slider-full">
        <p class="message-void-debates"> Foros y Debates estará disponible proximamente </p>
        <ul class="keyboard-row list-debates list-height-full" id="list-debates-id">

            <li class="item-arrow item-arrow-left">
                <div class="item-arrow-left-select">
                    <img src="assets/images/arrow-left.png" alt="left"/>
                </div>
            </li>
            <li class="item-arrow item-arrow-right">
                <div class="item-arrow-right-select" >
                    <img src="assets/images/arrow-right.png" alt="left"/>
                </div>
            </li>

            <li class="keyboard-parent item-height-full"
                ng-repeat="debate in partDebate.data"
                ng-init="$last?partDebate.slider():null">

                <div class="item-keyboard-v2 item-height-full-select"
                     ng-class="{'elementSelectDefaultInit':$first}"
                     ng-style="{'background-image':'url('+debate.photo+')'}"
                     ng-click="transit('grid_debates',{'from':2,'idCategory':debate.id})">
                    <!--grayscale-->
                    <div class="effect-grayscale"></div>
                    <div class="name-topic">
                        {{debate.name}}
                    </div>
                    <!--<div class="cont-organized-by">-->
                        <!--<p>Organizado por:</p>-->
                        <!--<div class="img-organized-by"-->
                             <!--ng-style="{'background-image':'url('+debate.organized_by+')'}">-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<img src="assets/images/play-normal.png" class="btn-play-normal" alt="logo"/>-->
                    <!--<img src="assets/images/play-hover.png" class="btn-play-hover" alt="logo"/>-->
                </div>
            </li>

        </ul>
    </div>
    <div id="zone-menu-debates-js" class="zone-menu-candidates">
        <ul class="keyboard-row nav-general-app nav-map-debates">
            <li class="item-nc item-nc-logo nav-general-item">
                <img src="assets/images/logo.png"
                     class="item-nc-logo-popup"
                     alt="logo"/>
            </li>
            <li class="keyboard-parent item-nc nav-general-item">
                <div class="item-keyboard-v2 nav-general-item-select"
                     ng-class="{'active-tab-item':tab.current==1}"
                     ng-click="transit('home')">
                    <img src="assets/images/candidatos-menu.png" class="img-hover"/>
                    ¡Conoce a tu candidato!
                </div>
            </li>
            <li class="keyboard-parent item-nc nav-general-item">
                <div class="item-keyboard-v2 nav-general-item-select"
                     ng-class="{'active-tab-item':tab.current==4}"
                     ng-click="transit('planes')">
                    <img src="assets/images/planes-menu.png" class="img-hover"/>
                    Planes
                </div>
            </li>
            <li class="keyboard-parent item-nc nav-general-item">
                <div class="item-keyboard-v2 nav-general-item-select"
                     ng-class="{'active-tab-item':tab.current==5}"
                     ng-click="transit('mapCongresistas')">
                    <img src="assets/images/congresistas-menu.png" class="img-hover"/>
                    Congresistas
                </div>
            </li>
            <li class="keyboard-parent item-nc nav-general-item">
                <div class="item-keyboard-v2 nav-general-item-select"
                     ng-class="{'active-tab-item':tab.current==2}"
                     ng-click="transit('debates')">
                    <!--ng-click="transit('partidos')"-->
                    <img src="assets/images/foros-menu.png" class="img-hover"/>
                    Foros y Debates
                </div>
            </li>
            <li class="keyboard-parent item-nc nav-general-item">
                <div class="item-keyboard-v2 nav-general-item-select"
                     ng-class="{'active-tab-item':tab.current==3}"
                     ng-click="transit('grid_debates',{'from':1})">
                    <img src="assets/images/debates-menu.png" class="img-hover"/>
                    Debates JNE
                </div>
            </li>
            <li class="item-nc item-nc-logo item-nc-logo-favorites nav-general-item">
                <div class="item-keyboard-v2"
                     ng-click="openModalFavoriteGeneral('.item-nc-logo')">
                    <img src="assets/images/favourites.png" class="item-nc-logo-tv" alt="logo"/>
                </div>
            </li>
        </ul>
    </div>
</div>
